#changer {
  //margin: 0 0 0 35px;
  //width: 245px;
}
#sizer {
  width: 320px;
  margin: 10px auto 0;
}

#output_holder {
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 245px;
}

#input_holder {
  margin: 5px 0 0 55px;
  width: 245px;
  padding: 0;
}

#sizer > label {
  display: block;
  font-size: 16px;
  padding: 0;
  margin: 50px 0 0 55px;
  text-transform: uppercase;
  font-weight: 700;
}

#input_range {
  display: block;
  width: 100%;
  margin: 15px 0 0;
  padding: 0;
}

.borders {
  font-size: 16px;
  overflow: hidden;
  margin: 20px 0 0;
}

.begin, {
  float: left;
}

.end, {
  float: right;
}
